@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

body {
    background-color: #03A696;
    margin: auto;
    width: 500px;
    max-width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 100%;
}

div#content {
    background-color: white;
    padding: 0px 10px 0px 10px;
    max-width: 100%;
    margin: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    font-size: 20px;
}


.border {
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    padding-left: 10px;
}

#main {
    border-color: gold;
}
#middle{
    border-color: silver;
}
#side {
    border-color: #BF8970;
}


h1 {
    margin: 0px;
    text-align: center;
    font-size: 3em;
    font-family: "Luckiest Guy", cursive;
    padding: 0px;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);

}

span {
    transform: scale(0.9);
    display: inline-block;
}
span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    infinite alternate;
}


@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%,
    100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%,
    100% {
        transform: scale(1) rotateZ(-3deg);
    }
}

.button {
    width: 40%;
    margin: auto;
    font-family: 'Anton', sans-serif;
    border-radius: 20px;
    padding: 1%;
}

