p{
    font-family: "Luckiest Guy" , cursive;
    font-size: 40px;
    color: #F2A81E;
  }

.Startbtn{
    width: 300px;
    height: 40px;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
  }

.content{
    padding-top: 50px !important;
  }