<app-box>
    <div class="content">
        <p>Wer bist du?</p>
        <br><br>
    </div>
    <br><br><br><br>
    <div style="text-align: center">
    <!-- Name Eingabe -->
    <mat-form-field appearance="fill">
        <mat-label>dein krasser Name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <br><br>
    <!-- Bestaetigung? -->
    <div>
        <button mat-raised-button color="primary" [routerLink]="['/room']" class="Startbtn">und looooos</button>
    </div>
</app-box>